<p id="notice"><%= notice %></p>

<p>
  <strong>Cars:</strong>
  <%= @line_item.cars %>
</p>

<p>
  <strong>Carparts:</strong>
  <%= @line_item.carparts %>
</p>

<%= link_to 'Edit', edit_line_item_path(@line_item) %> |
<%= link_to 'Back', line_items_path %>
